{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

<div class="container text-center">
    {% if app.user %}    
        {% if app.user.role == 1 %}
            <h1>Administration</h1>

            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{{path('manager_product')}}">Gestionnaire de produit</a>

                    <span class="badge badge-success badge-pill">{{ product | length }} produits dans le catalogue</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{{path('product_new')}}">Ajout de produit</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{{path('users_index')}}">Gestionnaire utilisateur</a>
                    <span class="badge badge-success badge-pill">{{ users | length }} utilisateurs inscrits</span>
                </li>
            </ul>

        {% else %}
        <p>Vous n'êtes pas autorisé à accéder à cette page !</p>
        <a href="{{ path('home')}}" class="btn-profil">Page d'accueil</a>
        {% endif %}
    {% else %}
    <p>Veuillez vous connecter pour acceder à cette page</p>
    <a href="{{ path('security_login')}}" class="btn-profil">Connexion</a>

    {% endif %}
</div>
{% endblock %}