{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
<div class="container text-center">
    {% if app.user %}
    {% if app.user == user %}
    
        <h1>Modification du mot de passe</h1>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_label(form.oldPassword, 'Ancien mot de passe') }}
        {{ form_widget(form.oldPassword, {'attr': {'placeholder' : "Mot de passe", 'class' : "form-control"}}) }}
        
        {{ form_label(form.newPassword.first, 'Nouveau mot de passe') }}
        {{ form_widget(form.newPassword.first, {'attr': {'placeholder' : "Mot de passe", 'class' : "form-control"}}) }}
        
        {{ form_label(form.newPassword.second, 'Répéter le nouveau mot de passe') }}
        {{ form_widget(form.newPassword.second, {'attr': {'placeholder' : "Mot de passe", 'class' : "form-control"}}) }}
        
        <button class="btn-profil mt-2 mb-4">{{ button_label|default('Enregistrer') }}</button>
        
        {{ form_end(form) }}
        <a href="{{ path('users_edit', {'id': app.user.id}) }}">Retour</a>
    {% else %}
            <p> Vous n'êtes pas autorisé à acceder à cette page</p>
            <a href="{{ path('home')}}" class="btn-profil">Page d'accueil</a>
        {% endif %}
    {% else %}
        <p>Veuillez vous connecter pour acceder à cette page</p>
        <a href="{{ path('security_login')}}" class="btn-profil">Connexion</a>
    {% endif %}
    </div>
{% endblock %}
